# Editors
.vs/*
.vscode/*
.atom/*
.idea/*

# Build and Binary
Build/*
build/*
bin/*
bin-int/*
vendor/SDL2-2.0.10/build/*

# Temp files
CMakeCXXCompilerId.gcno
main.gcno
clangscript.out
gccscript.out
pch.h.gch
